ul.nav {
  padding-left: 0px;
  background-color: #3D99CE;
  text-align: center;
}
ul.nav > li {
 
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #2779BF;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}
ul.nav > li { display: inline-block; }





.tblGrupe tr.prviRed th {
  width: 100px;
}
.tblGrupe tr td.nijeNazivGrupe {
  width: 100px;
}
.tblGrupe tr td.nazivGrupe {
  width: 100px;
}




.glavni{
  text-align: center;


}
.grupe {
  text-align: center;
  height: 100%;
 

 
}
.studenti {
  text-align: center;
 height: 100%;
 
 margin: 20px;

  
  
} 
ul { list-style: none;
  margin: 20px;}


 
.list li {
   float: left;
    width: 20%;
   height: 80px; 
   border-right: 1px dotted #CCC; 
   border-bottom: 1px dotted #CCC; 
   padding: 20px; }


.tblGrupe{
  border: 1px solid black;
  margin: 0 auto;
  height: 100%;
  width: 100%
}

@media (min-width: 500px) and (max-width: 800px) {
  ul.nav > li { display: inline-block; }
 .tblGrupe tr.prviRed th.nijeNazivGrupe {
  
  display: contents;
}
.tblGrupe tr td.nijeNazivGrupe {
  
  display: contents;
 
}

}

@media (max-width:500px) {
  ul.nav > li { display: block; }

  .tblGrupe tr.prviRed th.nijeNazivGrupe {
  
    display:none;
      
      
    }
    .tblGrupe tr td.nijeNazivGrupe {
     
    
      display: none;
    }


    
}

@media (min-width:800px) {
  .grupe{display: inline-block;}
  .studenti {
    width: 50%;
  }
}