ul.nav {
  padding-left: 0px;
  background-color: #3D99CE;
  text-align: center;
}
ul.nav > li {
 
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #2779BF;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}
ul.nav > li { display: inline-block; }
.planiranje{
    font-family: 'Bangers', cursive;
    margin:0 auto;
    margin-top: 200px;
    margin-bottom:200px;
    background-color:#ccccff;
    border: 2px solid black;
    border-radius: 5px;
    width:500px;
}
.planiranje label{
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    color:black;
    margin-left:100px;
    margin-right:auto;
    width:100px;
    text-align:right;
}
.planiranje input{
    margin-left:auto;
    margin-right:125px;
    border: 2px solid black;
    width:100px;
    float: right;
}
.planiranje button{
    margin-left:200px;
    margin-right:auto;
    margin-bottom:10px;
    border: 2px solid black;
    width:100px;
   color:black;
}

.planiranje select{
   margin-left:auto;
   margin-right:125px;
   border: 2px solid black;
   width:105px;
  float:right;
}

.textarea {
  text-align: center;
}

@media (max-width:500px) {
  ul.nav > li { display: block; }
.planiranje{
    font-family: 'Bangers', cursive;
     margin:0 auto;
     margin-top: 200px;
     margin-bottom:200px;
     background-color:#ccccff;
     border: 2px solid black;
     border-radius: 5px;
     width:350px;
  }

.planiranje label{
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    color:black;
    margin-left:100px;
    margin-right:auto;
    width:50px;
}

.planiranje input{
    margin-left:auto;
    margin-right:125px;
    border: 2px solid black;
    width:100px;
   float: right;
margin-bottom: 20px;
}
.textarea {
  margin-left:auto;
  margin-right:110px;
  border: 2px solid black;
  
 float: right;
margin-bottom: 20px;
}
.planiranje button{
   margin-left:200px; 
   margin-bottom:10px;
   border: 2px solid black;
   width:100px;
   color:black;
}
.planiranje select{
   margin-left:auto;
   margin-right:125px;
   border: 2px solid black;
   width:100px;
   float:right;
   margin-bottom: 20px;
}
}