
.div {
    width: 770px;
    
}
.dugme {
    width:100%;
    height: 40px;
    text-align: center;
    background-color: rgb(120, 120, 223);
}

.dugme1 {
    visibility: visible;
    
    
}
.dugme2 {
    visibility: hidden;
}
.tijelo{
    align-items: center;
    justify-content: center;
}