ul.nav {
    padding-left: 0px;
    background-color: #3D99CE;
    text-align: center;
  }
  ul.nav > li {
   
    padding: 10px 20px;
  }
  ul.nav > li:hover {
    background-color: #2779BF;
  }
  ul.nav > li > a {
    color: white;
    text-decoration: none;
  }
  ul.nav > li { display: inline-block; }

.dva {
display: inline-block;
text-align: center;
}
.sve {
    margin: 100px;
    text-align: center;
    }
.divTabela {
    display: inline-block;
    text-align: center;
    background-color: rgb(161, 161, 190); ;
}
  
.grafovi {
    display: inline-block;
    text-align: center;
}
.odabirVjezbe tr td {
    border: 1px solid rgb(26, 26, 58);
    background-color: rgb(161, 161, 190);;
}

.odabirVjezbe tr td.zadaci {
    border: 1px solid white;
    background-color:rgb(161, 161, 190);
}
  
  
  @media (max-width:500px) {
    ul.nav > li { display: block; }
  
  }